.UserInPut{
    font-size: x-large;
    border: 2px solid red

}

.UserOutPut{
    font-size: xx-large;
    width: 60%;
    padding: 16px;
    margin: 16px;
    border: 2px solid black;
    background-color: #ccc;
    text-align: center;
}